**~
**.backup
**.pem
**.key.pem
**.srl
**.bkp
**invenio.cfg



app/mount/skeleton/local_config.sh
app/mount/common/config/etc/conf.d/invenio_celery
opensearch/mount/certs

opensearch/private_noVCS/
.venv/

docs/build
**/secrets.sh

