dn: uid=<user_uid>,<bind_base>
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
homeDirectory: /home/<user_uid>
displayName: <display_name>
sn: <user_uid>
cn: <user_uid>
uidNumber: <uid_number>
gidNumber: <gid_number>
mail: user_<uid_number>@example.com